.container {
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
}
.container h2 {
  animation: slideIn 1.3s ease-out;
}
@keyframes slideIn {
  0% {
    transform: translate(-100%);
    opacity: 0;
  }
  10% {
    transform: translate(-90%);
    opacity: 0.1;
  }
  20% {
    transform: translate(-80%);
    opacity: 0.2;
  }
  30% {
    transform: translate(-70%);
    opacity: 0.3;
  }
  40% {
    transform: translate(-60%);
    opacity: 0.4;
  }
  50% {
    transform: translate(-50%);
    opacity: 0.5;
  }
  60% {
    transform: translate(-40%);
    opacity: 0.6;
  }
  70% {
    transform: translate(-30%);
    opacity: 0.7;
  }
  80% {
    transform: translate(-20%);
    opacity: 0.8;
  }
  90% {
    transform: translate(-10%);
    opacity: 0.9;
  }
  100% {
    transform: translate(-0%);
    opacity: 1;
  }
}
