.container {
  width: 100%;
  margin: auto;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 32px;
  margin-bottom: 100px;
  font-weight: 800;
  text-align: center;
}

/* Grid de productos */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 24px;
}

/* Card */
.productCard {
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  cursor: pointer;
}

.productCard:hover {
  transform: translateY(-6px) scale(1.01);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
}

/* Imagen */
.productImage {
  width: 100%;
  height: 250px;
  background: #f9fafb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productImage img {
  width: 80%;
  height: 80%;
  object-fit: contain;
  transition: transform 0.4s ease;
}

.productCard:hover img {
  transform: scale(1.1);
}

/* Info */
.productInfo {
  padding: 20px;
}

.productTitle {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #1f2937;
}

.productDescription {
  font-size: 14px;
  color: #6b7280;
  line-height: 1.5;
  margin-bottom: 15px;
}

.productPrice {
  font-size: 18px;
  font-weight: 800;
  color: #111827;
}

@keyframes slideIn {
  0% {
    transform: translate(-100%);
    opacity: 0;
  }
  10% {
    transform: translate(-90%);
    opacity: 0.1;
  }
  20% {
    transform: translate(-80%);
    opacity: 0.2;
  }
  30% {
    transform: translate(-70%);
    opacity: 0.3;
  }
  40% {
    transform: translate(-60%);
    opacity: 0.4;
  }
  50% {
    transform: translate(-50%);
    opacity: 0.5;
  }
  60% {
    transform: translate(-40%);
    opacity: 0.6;
  }
  70% {
    transform: translate(-30%);
    opacity: 0.7;
  }
  80% {
    transform: translate(-20%);
    opacity: 0.8;
  }
  90% {
    transform: translate(-10%);
    opacity: 0.9;
  }
  100% {
    transform: translate(-0%);
    opacity: 1;
  }
}
